body {
    margin: 0;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Mukta', sans-serif;
}

.header-area {
    display: flex;
    justify-content: center;
}



.menu {
    display: flex;
    list-style: none;
    margin-top: 15px;
    padding: 0;
    justify-content: right;

}

.menu li {
    margin-right: 20px;
    padding: 10px 10px;
}

.menu li a {
    text-decoration: none;
    font-size: 18px;
    color: #352c23;
}

.menu li a:hover {

    color: #aeaeae;
}



.logo-area {
    width: 30%;
    margin-top: 15px;
}

.menu li a:hover .menu li a span {
    text-decoration: none;
    font-size: 12px;
    color: #352c23;
}



.menu li a span {
    text-decoration: none;
    font-size: 12px;
    color: #352c23;
}

.menu li a span:hover {

    color: #aeaeae;
}

.menu-area {
    width: 60%;
}


.icon {
    display: none;
    margin-left: 15px;
    border-radius: 5px;

}

.icon a i {
    color: #070707;
    font-size: 25px;

}

.item1 {
    grid-area: header;
    background-color: #2196F3;
    position: relative;
    overflow: hidden;
}

.item2 {
    grid-area: menu;
    background-color: #352c23;
    position: relative;
    overflow: hidden;
}

.item3 {
    grid-area: main;
    background-color: #352c23;
    position: relative;
    overflow: hidden;
}

.item4 {
    grid-area: right;
    background-color: #352c23;
    position: relative;
    overflow: hidden;
}

.item5 {
    grid-area: footer;
    background-color: #352c23;
    position: relative;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header  menu main'
        'header header right footer';

    gap: 10px;
    background-color: #fff;
    padding: 10px;
}

.images {
    height: 100%;
    width: 100%;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: absolute;
    left: 0%;
    top: 0%;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 0;
    visibility: hidden;
}

.item1:hover .container {
    visibility: visible;
}





.container h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    margin: 5px;
}

.container i {
    color: #fff;
    font-size: 18px;
    display: block;
    margin-bottom: 30px;
}

.con {
    padding-left: 40px;
    margin-top: 190px;
}

.images1 {
    width: 100%;
    height: 100%;
}

.images1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container1 {
    position: absolute;
    left: 0%;
    top: 0%;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    visibility: hidden;
}

.item2:hover .container1 {
    visibility: visible;
}

.item3:hover .container1 {
    visibility: visible;
}

.item4:hover .container1 {
    visibility: visible;
}

.item5:hover .container1 {
    visibility: visible;
}

.con3 {
    text-align: center;
    width: 90%;
    height: 90%;
    padding-top: 140px;

}

.con3 h2 {
    color: #fff;
    font-size: 30px;
    margin: 0;

}

.con3 p {
    color: #fff;
    font-size: 20px;
    margin: 0;
}

.con2 {
    text-align: center;
    width: 90%;
    height: 90%;
    padding: 7px;
    background-color: #070707;
}


.con2 h2 {
    color: #fff;
    font-size: 30px;
    margin: 0px;



}

.con2 p {
    color: #fff;
    font-size: 19px;
    display: block;
    padding: 13px 0px;
    margin: 0;
}
















.btn {
    width: 0px;
    color: #fff;
    padding: 12px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    background-color: transparent;
    animation: mostofa 3s infinite ease-in-out;
    align-items: center;
    text-align: center;

}

@keyframes mostofa {
    0% {
        top: 0;
        left: 0;
        background: blue;
    }

    25% {
        background: lawngreen;
        top: 100%;
        left: 25%;
    }

    50% {
        background: blueviolet;
        top: 100%;
        left: 50%;
    }

    75% {
        background: red top: 100%;
        left: 75%;
    }
}

/* gallay style */
.gallery-area {
    grid-area: mane;
}

.gallery2-area {
    grid-area: top;
}

.gallery3-area {
    grid-area: bottom;
}

.section-men {
    padding: 10px 20px;
    display: grid;
    grid-template-areas:
        'mane mane  top top bottom bottom';
    grid-gap: 40px;
    margin-top: 60px;
}


.images {
    width: 100%;
    overflow: hidden;

}

.images img {
    width: 100%;
    transition: ease-in-out 1s;
}

.images img:hover {
    transform: scale(1.4);
}

.contaent5-area {
    padding: 5px;
}

.contaent5-area span {
    display: flex;
    justify-content: space-between;
}

.contaent5-area span a {
    color: #000;
    text-decoration: none;
}

.contaent5-area span h2 {
    color: #000;
    margin: 0;
}

.contaent5-area p {
    padding: 5px;
    color: #9c9c9c;
    font-size: 23px;
}

/* footer area style */
.footer-area {
    margin-top: 150px;
    background-color: #2a2a2a;
}

.contact-area {
    display: flex;
    justify-content: space-evenly;
}

.box-area p {
    color: #fff;
    font-size: 15px;
    margin: 0px;
}

.box-area h3 {
    color: #fff;
    font-size: 25px;
    margin: 0px;
}

.box-area {
    margin: 90px 0px;
}

.box-area a {
    color: #fff;
    text-decoration: none;
}

.last-area {
    display: flex;
    justify-content: center;
}

.contact {
    width: 90%;
    text-align: center;
}

.contact p {
    color: #fff;
    font-size: 20px;
}

.contact a {
    color: #fff;
    font-size: 25px;
    border-radius: 25px;
    text-decoration: none;
    margin-bottom: 40px;

}

.contact a i {

    padding: 19px;
    border-radius: 25px;

}



/* responsive website */
@media (max-width:930px) {
    .list {
        display: none;
    }

    .icon {
        display: block;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'header header  header header'
            'menu menu main main'
            'right right footer footer';

        gap: 10px;
        background-color: #fff;
        padding: 10px;
    }

    .btn {
        padding: 7px 10px;
    }

    .section-men {
        padding: 10px 20px;
        display: grid;
        grid-template-areas:
            'mane mane  mane mane mane mane'
            'top top  top top top top'
            'bottom bottom  bottom bottom bottom bottom'
        ;
        grid-gap: 40px;

    }

    .gallery-area {
        margin-top: 80px;
    }

    .gallery2-area {
        margin-top: 80px;
    }

    .gallery3-area {
        margin-top: 80px;
    }

    .contaent5-area p {
        margin: 0;
    }
}

@media (max-width:530px) {
    .list {
        display: none;
    }

    .icon {
        display: block;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'header header  header header'
            'menu menu menu menu'
            'main main main main'
            'right right right right'
            'footer footer footer footer';


        gap: 10px;
        background-color: #fff;
        padding: 10px;
    }

    .btn {
        padding: 7px 10px;
    }

    .contact-area {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .box-area {
        margin: 0;
        text-align: center;
    }
}